.is-invalid {
    border-color: #dc3545;
}
  
.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
}

.login{
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-login{
    padding: 20px;
    width: 80%;
    background: white;
    border-radius: 15px;
    border: 1px solid #dee2e6;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    h5{
        letter-spacing: 1.7px;
    }
}