<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Online <strong style="color: rgb(1, 145, 198);">Store</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
        <li class="nav-item" *ngIf="!isUser">
          <a class="nav-link" href="#" [routerLink]="['login']"><i class="fa fa-fw fa-key"></i> Login</a>
        </li>
        <li class="nav-item" *ngIf="isUser">
          <a class="nav-link" href="#" [routerLink]="['cart']"><i class="fa fa-fw fa-shopping-cart"></i> Cart</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isUser">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-fw fa-user-circle-o"></i> {{userName}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><button class="dropdown-item" type="button"><i class="fa fa-fw fa-user"></i> Profile</button></li>
            <li><button class="dropdown-item" type="button" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Logout</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="responseBox" class="alert alert-success" role="alert">
  {{responseMessage}}
</div>

<div class="container">
    
    <ul class="category_btn">
      <li (click)="categorySelected('')">view all</li>
      <li *ngFor="let item of categories" (click)="categorySelected(item)">{{item}}</li>
    </ul>
    <div class="row">
      <div *ngFor="let product of products" class="col-md-2">
        <div class="product_list">
          <img [src]="product.image" class="card-img-top" alt="{{ product.title }}" />
          <div class="info">
            <h5 class="info-title text-truncate">{{ product.title }}</h5>
            <p class="info-harga"><strong>{{ product.price | currency }}</strong></p>
            <p class="info-category">{{ product.category }}</p>
          </div>
          <button (click)="addToCart(product)"><i class="fa fa-fw fa-cart-plus"></i> Add to Cart</button>
        </div>
      </div>
    </div>
</div>