.category_btn{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    li{
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 15px;
        font-size: 12px;
        letter-spacing: 1.3px;
        color: #4a4a4a;
        background: white;
    }
    li + li {
        margin-left: 10px;
    }
}
.product_list{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);
    img{
        height: 150px;
        object-fit: contain;
    }
    &:hover button{
        background: #e5302f;
        color: white;
        transition: all;
    }
    button{
        border: none;
        padding: 10px;
        display: block;
        width: 100%;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }
    .info{
        position: relative;
        font-size: 12px;
        padding: 10px;
        &-title{
            font-size: 12px;
            margin: 0;
        }
        &-category{
            font-size: 10px;
            font-style: italic;
            margin: 0;
        }
        &-harga{
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
    }
}

.cartlist{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0 10px;
    img{
        height: 100px;
        object-fit: contain;
    }
    &-date{
        font-size: 10px;
        text-align: right;
        display: block;
    }
    &-quantity{
        font-size: 12px;
        font-weight: bold;
        text-align: right;
    }
    &-remove{
        cursor: pointer;
        font-size: 12px;
        color: #ffffff;
        background: black;
        border: none;
        float: right;
    }
}
.text-truncate {
    display: inline-block;
    max-width: 20ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }